<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Confirmation réservation</title>
	</head>
	<body>
		<p>Bonjour,
			<br>
			{{ mailContent.firstname }}
			{{ mailContent.lastname }}<br></p>
		<p>Nous vous confirmons que votre réservation du
			{{ mailContent.reservation_date}}
			a bien été acceptée !</p>
		<br>
		<p>Cordialement le Rigolou.</p><br><br>
		<p>Parc de l’orée de la fôret / rue de la tuilerie 45770 Saran</p><br>																		
		<p>02.38.73.12.14</p>
	</body>
</html>
