{% extends 'adminLayout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Événements - éditer
{% endblock %}

{% block content %}
    <h1>Modifier un événement</h1>
    {% include "/Admin/Events/_form.html.twig" with {'addOrEdit': 'edit'} %}
{% endblock %}