{% extends 'adminLayout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Événements
{% endblock %}


{% block content %}
	<main class="container-fluid py-5">
		<h1 class="text-center">Liste des événements</h1>
		{% include "/Admin/_list.html.twig" with {'cols': {title: 'Titre', date: 'Date'}, 'items': eventItems, 'section': 'events'} %}
	</main>
{% endblock %}
