{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block content %}
	<main class="container-fluid">
		<h1>Rigolou</h1>
	</main>
{% endblock %}

{% block footer %}
	<footer class="container-fluid">
		<div class="map-itinerary">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2450.0622500531776!2d1.8884161528178036!3d47.95936163932998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x160eea08564b57de!2zNDfCsDU3JzMzLjUiTiAxwrA1MyczNC45IkU!5e0!3m2!1sfr!2sfr!4v1650300643097!5m2!1sfr!2sfr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
			<div class="bg-primary shadow rounded-3">
				<div class="d-flex flex-column justify-content-between h-100 py-3">
					<div class="d-flex justify-content-center align-items-center">
						<p class="my-auto me-3">NOUS SITUER</p>
						<svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" viewbox="0 0 16 16">
							<path d="M 3.204,11 8,9 12.796,11 8.1015625,3.73775 Z M 2.451,10.341 7.3485625,3.07975 C 7.5534588,2.8452787 7.8404919,2.7313777 8.1251885,2.7380472 8.3941369,2.7443478 8.6610002,2.8582487 8.8545625,3.07975 L 13.549,10.341 C 14.115,10.988 13.655,12 12.796,12 L 8,10 3.204,12 C 2.344126,12.000737 1.8843425,10.987748 2.451,10.341 Z"/>
						</svg>
					</div>
					<div class="w-75 mx-auto">
						<p>Adresse</p>
						<p>Eurl RIGOLOU | Parc de l’orée de la fôret / rue de la tuilerie / 45300 Saran</p>
						<p>Tel : 02 38 73 12 14</p>
						<div class="text-center mt-5">
							<a class="btn btn-primary px-4 rounded-3" href="https://maps.google.com/maps/dir//Le+Rigolou+All.+de+l'Or%C3%A9e+de+la+For%C3%AAt+45770+Saran/@47.9593116,1.8930396,17z/data=!4m5!4m4!1m0!1m2!1m1!1s0x47e4fbb2c9f57b3d:0x764b3b680536f3fd" target="_blank" role="button">ITINERAIRE</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}
