{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block content %}


	<div class="header container-fluid bg-primary d-flex">
		<p>TEST</p>
	</div>

	<main class="container-fluid">

		<h1>Rigolou</h1>
	</main>
{% endblock %}
