{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block content %}
	<main class="container-fluid">
		<h1>Rigolou</h1>
	</main>
{% endblock %}

{% block footer %}
	<footer class="container-fluid">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2450.0622500531776!2d1.8884161528178036!3d47.95936163932998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x160eea08564b57de!2zNDfCsDU3JzMzLjUiTiAxwrA1MyczNC45IkU!5e0!3m2!1sfr!2sfr!4v1650300643097!5m2!1sfr!2sfr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</footer>
{% endblock %}
