{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}

{% block content %}


	<div class="header container-fluid bg-primary d-flex">
		<div class="logo container px-3 py-3 bg-light flex-column">
			<img src="assets/images/Logo.png" alt="Logo">
			<img src="assets/images/Title.png" alt="Title">
		</div>
		<div class="txt d-flex flex-column justify-content-center bg-secondary">
			<h1>Bienvenue chez Rigolou !</h1>
			<p>
				La plaine de jeux et de loisirs  de 1800 m² à Saran pour les enfants jusqu’a 12 ans. Sous la responsabilité des parents ou d’un adulte accompagnant, les enfants peuvent jouer dans de nombreuses attractions.Venez passer un agréable moment en famille et en toute sécurité !
			</p>
		</div>
	</div>

	<main class="container-fluid">

		<h1>Rigolou</h1>
	</main>
{% endblock %}
