<form class="w-75 mx-auto mt-3" method="post">
	{% if errors is not empty %}
		<div class="alert alert-danger">
			{% for error in errors %}
				<p class="m-0">
					-
					{{error}}
				</p>
			{% endfor %}
		</div>
	{% endif %}

	<input type="hidden" value="{{ cafeteria.id }}" name="id">
	<label class="form-label" for="title">Nom</label>
	<input class="form-control" type="text" value="{% if cafeteria is not empty %}{{ cafeteria.name }}{% endif %}" name="name" id="name" required>
	<label class="form-label" for="title">Prix(€)</label>
	<input class="form-control" type="number" max="100" min="0" step="0.1" value="{% if cafeteria is not empty %}{{ cafeteria.price }}{% endif %}" name="price" id="price" required>
	<label class="form-label" for="title">Category</label>
	<select class="form-control" name="category" id="category">
		<option value="drink">Boissons</option>
		<option value="snack">Encas</option>
	</select>
	<button class="btn btn-primary mt-3">Envoyer</button>
	<a class="btn btn-danger mt-2" href="/admin/cafeteria">RETOUR</a>
</form>
