{% extends "adminLayout.html.twig" %}

{% block title %}{{ parent() }} - Admin - ADD{% endblock %}

{% block content %}
    <h1>Ajouter un nouveau Produit</h1>
    {% include 'Admin/Cafeteria/_form.html.twig' %}
{% endblock %}