{% extends "adminLayout.html.twig" %}

{% block title %}
	{{ parent() }}
	- Admin - Edit
{% endblock %}

{% block content %}
	<div class="title mt-5 ps-5">
		<h1>Editer un Produit</h1>
	</div>
	{% include 'Admin/Cafeteria/_form.html.twig' %}
{% endblock %}
