h2 {
    font-size: calc(var(--title-size) * 4);
}

h3 {
    font-size: calc(var(--title-size) * 2);
}

h4 {
    font-size: var(--title-size);
}

.img_cafet {
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

p {
    line-height: 2rem;
}

.boissons, .snacks{
    background-color: rgb(198, 189, 189);
    height: 400px;
    width: 500px;
    border-radius: 0.6rem;
}

