
.img{
    max-height: 400px;
}

.img_cafet {
    max-height: 500px;
    object-fit: cover;
    object-position: center;

}

.textPadding{
    padding-left: 16rem;
    padding-right: 16rem;
    padding-top: 2rem;
}

p{
    line-height: 2rem;
}