@import url("https://fonts.googleapis.com/css2?family=BIZ+UDPMincho&family=Comfortaa:wght@300;400;500&family=League+Gothic&family=Ubuntu:wght@300;400;500&display=swap");

:root {
    --primary: 88, 156, 82;
    --bs-primary-rgb: var(--primary);
    --bs-primary: rgb(var(--bs-primary-rgb));
    --light:255, 255, 249;
    --bs-light-rgb: var(--light);
    --bs-light: rgb(var(--bs-light-rgb));
    --primary-light: #f8fbe1;
    --intermediate: #6ac162;
    --secondary: #f29b30;
    --dark: #181b17;
  
    --section-background: #fffaf3;
    --section-background-alternate: #d9ccbc;


    --title-font: "Comfortaa", cursive;
    --title-size: 1.6rem;
    --text-font: "Ubuntu", sans-serif;
    --text-size: 1.2rem;
    --line-height: 1.3;

    --map-height: 350px;
  
    --rounded: 0.6rem;
}


body {
    color: var(--dark);
    font-family: var(--text-font);
    font-size: var(--text-size);
    line-height: var(--line-height);
}

h1,
h2,
h3,
h4{
    font-family: var(--title-font);
}

a {
    text-decoration: none;
    color: var(--secondary);
}

a:hover {
    color: var(--secondary);
    filter: brightness(1.2);
}

h1 {
    font-size: calc(var(--title-size) * 2);
}

h2 {
    font-size: calc(var(--title-size) * 1.5);
}

h3 {
    font-size: calc(var(--title-size) * 1.2);
}

h4 {
    font-size: var(--title-size);
}

/* Change to bootstrap defaults */

.rounded-4 {
    border-radius: var(--rounded);
}

.btn.btn-primary {
    font-size: calc(var(--text-size) * 1.2);
    font-weight: bold;
    background-color: var(--secondary);
    border-color: var(--bs-light);
}

.btn.btn-primary:hover {
    background-color: var(--secondary);
    border-color: var(--bs-light);
    filter: brightness(1.2);
}

.btn.btn-primary:active,
.btn.btn-primary:hover,
.btn.btn-primary:focus {
    box-shadow: none;
}

.card {
    height: 100%;
    background-color: var(--intermediate);
    border-top-left-radius: var(--rounded);
    border-top-right-radius: var(--rounded);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.card-title {
    color: var(--bs-light);
    font-size: calc(var(--text-size) * 1.2);
    font-weight: bold;
}

/* End change to bootstrap defaults */

.section-title {
    width: fit-content;
    color: var(--bs-light);
}

.w-fit {
    width: fit-content;
}

.bg-section {
    background-color: var(--section-background);
    background-image: url("../images/inspiration-geometry.png");
}

.bg-section-alternate {
    background-color: var(--section-background-alternate);
    background-image: url("../images/bright-squares.png");
}

.map-itinerary {
    position: relative;
    width: 100%;
    height: var(--map-height);
    color: var(--bs-light);
}

.map-itinerary > iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.map-itinerary > div {
    --offset: 1rem;
    position: absolute;
    width: 20%;
    min-width: 320px; /* Smallest mobile screen */
    top: var(--offset);
    left: var(--offset);
    height: calc(100% - calc(var(--offset) * 2));
}

@media screen and (max-width: 450px) {
    .map-itinerary > div {
        position: static;
        width: 100%;
    }
}

.nav-link:hover{
    color: var(--secondary) !important;
}

.nav-item{
    color: var(--primary-light) !important ;
}
