{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="assets/css/amusements.css"> {% endblock %}

{% block title %}{{ parent() }} - Attractions{% endblock %}


{% block content %}

<main class="container-fluid bg-section py-2">
        
    <section class ="">

        <h1 class="bg-primary section-title mx-auto mb-5 mt-5 px-3 rounded-4">Attractions</h1>

        {% for amusement in amusements %} 
            <div class="container w-80 mb-5 p-3 rounded-4 border shadow bg-light">
                 <div class="row amusement-card  ">
                     <div class="col-lg-9 d-flex flex-column justify-content-between {% if loop.index is even %} order-lg-2 ps-lg-0 {% else %} pe-lg-0 {% endif %}">
                         <h2 class="text-center fs-1 pb-2 text-success border-bottom border-dark"> {{amusement.name}} </h2>
                         <div class="h-100 d-flex flex-column justify-content-center">
                        <p class="text-center {% if loop.index is even %} text-lg-center {% else %} text-lg-center{% endif %} "> {{amusement.description}}
                        </p>
                        </div>
                     </div>
                     <div class="col-lg-3 {% if loop.index is even %} order-lg-1 {% endif %}">
                          <img class="img-size rounded-4" src="{% if amusement.image is empty %}assets/images/placeholder.jpg{% else %}{{constant('APP_UPLOAD_PATH') ~ amusement.image}}{% endif %}"  alt="Nom de l'attraction">
                    </div>
                </div>
            </div>
        {% endfor %}
    </section> 
</main>
{% endblock %}