{% extends 'layout.html.twig' %}

{% block stylesheet %}
<link rel="stylesheet" href="assets/css/amusements.css"> {% endblock %}

{% block title %}{{ parent() }} - Attractions{% endblock %}


{% block content %}
<main class="container-fluid ">
    <h1 class="bg-primary section-title mx-auto my-5 px-3 rounded-4">Attractions</h1>
    <div class="container rounded-4 bg-secondary my-4">
        <div class="row amusement-card  ">
            <div class="col-lg-9 d-flex flex-column justify-content-between">
                <h2 class="text-center mt-3">Titre de l'attraction</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet
                    consectetur adipisicing Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit
                    amet consectetur adipisicing
                </p>

            </div>
            <div class="col-lg-3">
                <img class="img-size rounded-4" src="assets/images/test.jpeg" alt="attraction">
            </div>

        </div>
    </div>
    <div class="container rounded-4 bg-secondary my-4">
        <div class="row amusement-card  ">
            <div class="col-lg-9 d-flex flex-column justify-content-between order-lg-2">
                <h2 class="text-center mt-3">Titre de l'attraction</h2>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit amet
                    consectetur adipisicing Lorem ipsum dolor sit amet consectetur adipisicing Lorem ipsum dolor sit
                    amet consectetur adipisicing Lorem ipsum dolor sit amet consectetur adipisicing
                </p>

            </div>
            <div class="col-lg-3 order-lg-1">
                <img class="img-size rounded-4" src="assets/images/test.jpeg" alt="attraction">
            </div>

        </div>
    </div>

</main>
{% endblock %}