{% extends 'adminLayout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Tarifs - {{ details[0].description }}
{% endblock %}


{% block content %}
	<main class="container-fluid py-5">
		<h1>Ajouter dans {{ details[0].description }}</h1>
        {% include "Admin/AnniversaryDetail/_table.html.twig" %}
	</main>
{% endblock %}
