<nav class="navbar navbar-expand-lg navbar-dark bg-black p-2">

	<button class="navbar-toggler ms-auto me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
		<div class="navbar-nav w-100 justify-content-end">
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/admin/tarifs">Tarifs</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/admin/anniversaire">Formules anniversaires</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/admin/events">Événements</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/admin/reservations">Réservations</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/admin/attractions">Attractions</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/admin/cafeteria">Menu/Cafétéria</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/logout">Déconnexion</a>
		</div>
	</div>
</nav>
