<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse d-lg-flex justify-content-between " id="navbarNavAltMarkup">
			<a class="nav-item nav-link ms-3 sm-none d-none d-lg-block" href="/">
				<img class="w-25" src="assets/images/Title.png" alt="Title">
			</a>
		<div class="navbar-nav">
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/#tarifs">Tarifs / Horaires</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/evenements">Événements</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/anniversaire">Anniversaire</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/attractions">Attractions</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/cafeteria">Cafétéria</a>
			<a class="nav-item nav-link text-light pe-lg-4 align-self-center" href="/contact">Contact</a>
		</div>
	</div>
</nav>


