<nav class="navbar navbar-expand-lg navbar-light bg-primary">
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link text-light" href="#">Tarifs / Horaires</a>
			<a class="nav-item nav-link text-light" href="#">Evenements</a>
			<a class="nav-item nav-link text-light" href="#">Anniversaire</a>
			<a class="nav-item nav-link text-light" href="#">Attractions</a>
			<a class="nav-item nav-link text-light" href="#">Cafétéria</a>
			<a class="nav-item nav-link text-light" href="#">Contact</a>
		</div>
	</div>
</nav>
