<form class="w-75 mx-auto mt-3" action="" method="post" enctype="multipart/form-data">
    <label for="name" class="form-label">Nom</label>
    <input type="text" class="form-control" name="name" id="name">
    <label for="image" class="form-label mt-4">Image (1mo maximum | format jpeg, png, webp ou gif)</label>
    <input type="file" class="form-control" name="image" id="image">
    <label for="description" class="form-label mt-4">Description</label>
    <textarea class="form-control" name="description" id="description" rows="6"></textarea>
    <div class="w-100 text-end mt-3">
        <button class="btn btn-primary">Ajouter</button>
    </div>
</form>