{% extends 'adminLayout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Attractions - Modifier
{% endblock %}


{% block content %}
	<main class="container-fluid py-5">
		<h1>Modifier une attraction</h1>
		{% include "Admin/Amusement/_form.html.twig" with {'addOrEdit': 'edit'} %}
	</main>
{% endblock %}
