{% extends 'adminLayout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Attractions
{% endblock %}


{% block content %}
	<main class="container-fluid py-5">
		<h1 class="text-center">Liste des attractions</h1>
		{% if deletedName != '' %}
			<p class="alert alert-success w-fit">Les données de "{{ deletedName }}" ont été supprimées.</p>
		{% endif %}
		{% if editedName != '' %}
			<p class="alert alert-success w-fit">Les données de "{{ editedName }}" ont été modifiées.</p>
		{% endif %}
		{% include "/Admin/_list.html.twig" with {'cols': {name: 'Nom'}, 'items': amusementItems, 'section': 'attractions'} %}
	</main>
{% endblock %}
