{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/cafeteria.css">
{% endblock %}

{% block title %}
	{{ parent() }}
	- Cafétéria
{% endblock %}

{% block content %}

	<header class="img">
		<div class="row">
			<img class="img_cafet" src="assets/images/Cafet.jpeg" alt="">
		</div>
		<div class="text-center my-5">
			<h3 class=''>Cafétéria</h3>
			<h4>Bar & Snack</h4>
            <div class="row">
			<p class="col-md-6 offset-md-3">Un espace bar et salon de thé permet aux adultes comme aux enfants de boire une boisson froide ou chaude.
				
				Un snack permet de faire goûter les enfants. Les adultes pourront également bénéficier de petits encas.
			</p>
            </div>
		</div>
	</header>


{% endblock %}
