{% extends 'layout.html.twig' %}

{% block stylesheet %}
	<link rel="stylesheet" href="assets/css/cafeteria.css">
{% endblock %}

{% block title %}
	{{ parent() }}
	- Cafétéria
{% endblock %}

{% block content %}

	<header class="img">
		<div class="row">
			<img class="img_cafet" src="assets/images/Cafet.jpeg" alt=""></div>
	</header>


{% endblock %}
