{% extends 'adminLayout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}


{% block content %}
<main class="vh-100 d-flex flex-column justify-content-center pb-5">
	<h1 class="text-center mb-5">Bienvenue dans l'interface administrateur</h1>
</main>
{% endblock %}
