{% extends 'adminLayout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}


{% block content %}
<h1 class="text-center">Bienvenue dans l'interface administrateur</h1>
{% endblock %}
