{% extends 'adminLayout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}


{% block content %}
<main class="vh-80 d-flex flex-column justify-content-center pb-5">
	<h1 class="text-center mb-5">Bienvenue dans l'interface administrateur</h1>
	<p class="text-center">Vous pouvez ici administrer les différentes sections du site en passant par la barre de navigation.</p>
</main>
{% endblock %}
